@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

html, .mainPage, .workoutPage {
    height: 100%;
}
.mainPage, .workoutPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2 {
    font-size: 30px;
    letter-spacing: 30px;
    text-align: center;
    line-height: 2;
}

.callToAction, .APIdisplayContaier {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.callToAction {
    line-height: 0;
    padding-top: 3pc;
}

.callToAction p {
    letter-spacing: 10px;
}

#label {
    font-size: 30px;
}
form {
    line-height: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workoutContainer h2 {
    padding-left: 2pc;
}

.input-row {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Arrange items in a row */
    align-items: center; /* Center items vertically */
  }
  
  .input-row input[value="lower"] {
    margin-left: 10px; /* Add spacing between the radio buttons */
  }

  .input-row input[value="full"] {
    margin-left: 10px; /* Add spacing between the radio buttons */
  }

.input-row input[name="body"] {
    margin-right: 5px; /* Add spacing between the radio buttons */
  }
.interactContainer, .workoutContainer  {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="submit"] {
    padding: 10px;
    font-weight: bolder;
    background-color: white;
    border-radius: 10px;
    border: none;
    text-transform: lowercase;
    color: black;
    letter-spacing: 15px;
    padding-left: 21px;
}

.printSection {
    display: flex;
    flex-direction: column;

}

.callToAction, .interactContainer {
    opacity: 0; /* Initially hide the element */
    animation: fadeIn 2s ease-in forwards; /* Apply the fadeIn animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* End with opacity 1 */
    }
  }

.gif {
    max-width: 200px;
}

.print-here p {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    color: black;
    background: white;
    padding: 10px;
    margin: 10px;
}

.print-here h2 {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 400px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .callToAction {
        padding: 0px;
    }
    .workoutContainer h2 {
        font-size: 30px;
        line-height: 1.5;
        margin: 10px;
    }
    .workoutContainer {
        padding-bottom: 10px;
    }

}