@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

html, .mainPage, .workoutPage {
    height: 100%;
}
.mainPage, .workoutPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2 {
    font-size: 30px;
    letter-spacing: 30px;
    text-align: center;
    line-height: 2;
}

.callToAction, .workoutContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#label {
    font-size: 30px;
}
form {
    line-height: 2;
}


.interactContainer, .APIdisplayContaier {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    padding: 10px;
    font-weight: bolder;
    background-color: white;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    color: black;
}

.callToAction {
    opacity: 0; /* Initially hide the element */
    animation: fadeIn 2s ease-in forwards; /* Apply the fadeIn animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* End with opacity 1 */
    }
  }