@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* h2 {
    font-family: 'Shadows Into Light', cursive;
} */
.callToAction, .workoutContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

form {
    line-height: 2;
}

.interactContainer, .APIdisplayContaier {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    padding: 10px;
    font-weight: bold;
}